# https://cli.vuejs.org/guide/deployment.html#gitlab-pages
image: node:latest

cache:
  key: ${CI_COMMIT_REF_SLUG}
  paths:
    - node_modules/

before_script:
  - npm --version
  - npm ci

test:
  stage: test
  script:
    - npm run lint
    - npm run test:unit

pages:
  stage: deploy
  script:
    - npm run build
    - mv public public-vue # GitLab Pages hooks on the public folder
    - mv dist public # rename the dist folder (result of npm run build)
  artifacts:
    paths:
      - public # artifact path must be /public for GitLab Pages to pick it up
  only:
    - master
